* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Montsterrat", sans-serif;
}

h1{
  text-align: center;
  /* padding-bottorelativem: 90px; */
  background-color: rgb(78, 79, 80);
  color: white;
  padding: 20px;
}

.main{
  padding-top: 90px;
}
.box{
 
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background-color: #fdc173;
}

.item1, .item2, .item3, .item4{
  width: 150px;
  height: 150px;

}

.item1{
  background-color: rgb(248, 125, 211);
  position: relative;
  right: 40px;
  bottom: 60px;
  border-radius: 100px;

}

.item2{
  background-color: rgb(90, 252, 112);
  position: relative;
  left: 300px;
  bottom: 200px;
  border-radius: 100px;

}

.item3{
  background-color: violet;
  position: relative;
  left: 300px;
  border-radius: 100px;
}

.item4{
  background-color: rgb(155, 153, 252);
  position: relative;
  bottom: 150px;
  right: 50px;
  border-radius: 100px;
}
